.content {
    display: flex;
    /* justify-content: space-around; */
}
/*
.songs{
    display: flex;
    justify-content: space-around;
}
.Artists{
    display:flex;
}
img{
    display:flex;
} */
h1{
    font-family:Quicksand;
    text-align:center;
}